div.item-selector label {
  list-style-type: none;
  padding-bottom: 0px;
  margin: 0px;
  display: block;
}
div.price-indicator {
  display: inline-block;
}
div.order-form {
  text-align: left;
  width: 250px;
}
div.price-indicator {
  display: inline-block;
}
div.button-view {
  display: block;
}
